@charset "utf-8";
.userIconBox {
    width: 24px;
    height: 40px;
    margin-top: 6px;
}
.subscribeUserBtn {
    width: 100px;
    height: 60px;
    margin-left: 20px !important;
    display: block;
}
.likeNum,
.hateNum {
    height: 24px;
    line-height: 40px;
    margin-left: 5px;
    font-size: 18px;
}
.recipeThumbnailBox {
    width: calc(100% - 20px);
    height: 230px;
    margin: 0 auto;
}
.recipeSlideBox {
    width: calc(100% - 20px);
    margin: 0 auto;
}
